<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit an Adventure!</h1>
    <form class="" action="/places" method="post">
      Name: <input type="text" name="name" value="<%=place.name%>">
      Date Traveled: <input type="text" name="date" value="<%=place.date%>">
      Description: <input type="text" name="description" value="<%=place.description%>">
      Image: <input type="text" name="img" value="<%=place.img%>">
      Days Stayed: <input type="text" name="daysStayed" value="<%=place.daysStayed%>">
      <!-- Loved It?: <input type="checkbox" name="lovedIt"> -->
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
