<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/show.css">
</head>

<body>
  <a href="/places"><button>Home</button></a>
  <header>
    <h1>
      <%=place.name%>
    </h1>
  </header>
  <div class="container">

    <div class="details col">

      <button class=".log"><a href="/places/<%=place.id%>/edit">Edit</a>
      <i class="material-icons"><a href="/places/<%=place.id%>/edit">edit</a></i></button>
      <ul>
        <li>Trip Description:
          <%=place.description%>
        </li>
        <li>Days Stayed:
          <%=place.daysStayed%>
        </li>
      </ul>
    </div>
    <div class="images col">
      <img src="<%=place.img%>" alt="Images">
    </div>
  </div>
</body>

</html>
