<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="details">
      <h1><%=place.name%></h1>
      <a href="/places/<%=place.id%>/edit">Edit</a>
      <ul>
        <li>Trip Description: <%=place.description%></li>
        <li>Days Stayed: <%=place.daysStayed%></li>
      </ul>
    </div>
    <div class="images">
      <img src="<%=place.img%>" alt="Images">
    </div>
  </body>
</html>
