<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" charset="utf-8"></script>
  <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/../css/show.css">
  <script src="/../js/show.js" charset="utf-8"></script>
</head>

<body>
  <a href="/places"><button>Home</button></a>
  <header>
    <h1>
      <%=place.name%>
    </h1>
  </header>
  <div class="container">

    <div class="details col">

      <button class="log"><a href="/places/<%=place.id%>/edit">Edit</a>
      <i class="material-icons"><a href="/places/<%=place.id%>/edit" class="icon-white">edit</a></i></button>
      <ul>
        <li>Trip Description:
          <%=place.description%>
        </li>
        <li>Days Stayed:
          <%=place.daysStayed%>
        </li>
      </ul>
    </div>
    <div class="carousel">
   <a class="carousel-item" href="#one!"><img src="<%=place.img_one%>"></a>
   <a class="carousel-item" href="#two!"><img src="<%=place.img_two%>"></a>
   <a class="carousel-item" href="#three!"><img src="<%=place.img_three%>"></a>
 </div>
  </div>
</body>

</html>
